apiVersion: v1
kind: ConfigMap
metadata:
  name: coupon-config
  namespace: coupon-system
data:
  REDIS_HOST: "redis-service"
  KAFKA_HOST: "<KAFKA_EC2_PRIVATE_IP>"
  DB_HOST: "mysql-service"

---
apiVersion: v1
kind: Secret
metadata:
  name: coupon-secret
  namespace: coupon-system
type: Opaque
stringData:
  DB_USER: "root"
  DB_PASS: "<YOUR_DB_PASSWORD>"
  REDIS_PASSWORD: "<YOUR_REDIS_PASSWORD>"  # Optional
