apiVersion: v1
kind: Service
metadata:
  name: coupon-service
  namespace: default
  labels:
    app: coupon-service
spec:
  type: NodePort  # 외부 접근이 필요하면 NodePort 또는 LoadBalancer
  selector:
    app: coupon-service
  ports:
  - name: http
    protocol: TCP
    port: 8082        # 클러스터 내부에서 사용할 포트
    targetPort: 8082  # Pod의 컨테이너 포트
    nodePort: 30082   # 외부에서 접근할 포트 (30000-32767 범위)
  
  sessionAffinity: None
---
# 클러스터 내부 통신용 (선택사항)
apiVersion: v1
kind: Service
metadata:
  name: coupon-service-internal
  namespace: default
  labels:
    app: coupon-service
spec:
  type: ClusterIP
  selector:
    app: coupon-service
  ports:
  - name: http
    protocol: TCP
    port: 8082
    targetPort: 8082
